<beans>
    <bean id="mailService" class="service.MailService">
        <property name="protocol" value="POP3"/>
        <property name="port" value="3000"/>
    </bean>

    <bean id="userService" class="service.UserService">
        <property name="mailService" ref="mailService"/>
    </bean>

    <bean id="paymentService" class="service.PaymentService">
        <property name="maxAmount" value="5000"/>
        <property name="mailService" ref="mailService"/>
    </bean>
</beans>